<!DOCTYPE html>
<html>
  <head>
    <title>Matches</title>
  </head>
  <body>
    <h1>Matches</h1>
    <form method="POST">
      <label for="matchseq">Match Sequence:</label><br />
      <input type="text" id="matchseq" name="matchseq" /><br />
      <label for="person">Person:</label><br />
      <input type="text" id="person" name="person" /><br />
      <label for="matchtype">Match Type:</label><br />
      <input type="text" id="matchtype" name="matchtype" /><br />
      <label for="show">Show:</label><br />
      <input type="text" id="show" name="show" /><br />
      <label for="year">Year:</label><br />
      <input type="text" id="year" name="year" /><br />
      <label for="month">Month:</label><br />
      <input type="text" id="month" name="month" /><br />
      <label for="week">Week:</label><br />
      <input type="text" id="week" name="week" /><br />
      <label for="championship">Championship:</label><br />
      <input type="text" id="championship" name="championship" /><br />
      <label for="result">Result:</label><br />
      <input type="text" id="result" name="result" /><br />
      <label for="storyline">Storyline:</label><br />
      <input type="text" id="storyline" name="storyline" /><br />
      <label for="notes">Notes:</label><br />
      <input type="text" id="notes" name="notes" /><br />
      <input type="submit" value="Submit" />
      <a href="/">Home</a>
      </form>
    </form>
  </body>
</html>
